/* CSS Document */

@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR');
/* Web font */



html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Serif KR', 'dotum' ;
	font-size: .95em;
}

html{
	min-height: 100vh;
}

body{
	background: -webkit-linear-gradient(to bottom,#bbc1d2 5%,#fff8f9 30%,#fff8f9 90%,#2a261f 99%);
	background: -moz-linear-gradient(to bottom,#bbc1d2 5%,#fff8f9 30%,#fff8f9 90%,#2a261f 99%);
	background: -o-linear-gradient(to bottom,#bbc1d2 5%,#fff8f9 30%,#fff8f9 90%,#2a261f 99%);
	background: -ms-linear-gradient(to bottom,#bbc1d2 5%,#fff8f9 30%,#fff8f9 90%,#2a261f 99%);
	background: linear-gradient(to bottom,#bbc1d2 5%,#fff8f9 30%,#fff8f9 90%,#2a261f 99%);
}

.home{
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 999;
}

.text{
	padding: 15px 20px;
	border: solid 1px #000000;
	background-color: rgba(255,255,255,0.8);
	width:180px;
	height: 52px;
	text-align: center;
	position: absolute;
	left:50%;
	top: 30%;
	margin-left: -90px;
	margin-top: -26px;
	-webkit-animation: dropdownfadein 0.5s ease-out forwards;
	-moz-animation: dropdownfadein 0.5s ease-out forwards;
	-o-animation: dropdownfadein 0.5s ease-out forwards;
	-ms-animation: dropdownfadein 0.5s ease-out forwards;
	animation: dropdownfadein 0.5s ease-out forwards;
}



.hole{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -75px;
	margin-left: -75px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border:solid #000000 2px;
	background: transparent;
	filter: blur(3px);
	-webkit-animation: fadein 2s 1.7s cubic-bezier(.29,.24,.59,.98) forwards;
	-moz-animation: fadein 2s 1.7s cubic-bezier(.29,.24,.59,.98) forwards;
	-o-animation: fadein 2s 1.7s cubic-bezier(.29,.24,.59,.98) forwards;
	-ms-animation: fadein 2s 1.7s cubic-bezier(.29,.24,.59,.98) forwards;
	animation: fadein 2s 1.7s cubic-bezier(.29,.24,.59,.98) forwards;
	opacity: 0;
}

@-webkit-keyframes dropdownfadein {
	0%{
		top: 29%;
		opacity: 0;
	}
	
	100%{
		top: 30%;
		opacity: 1;
	}
}
@-moz-keyframes dropdownfadein {
	0%{
		top: 29%;
		opacity: 0;
	}
	
	100%{
		top: 30%;
		opacity: 1;
	}
}
@-o-keyframes dropdownfadein {
	0%{
		top: 29%;
		opacity: 0;
	}
	
	100%{
		top: 30%;
		opacity: 1;
	}
}

@-ms-keyframes dropdownfadein {
	0%{
		top: 29%;
		opacity: 0;
	}
	
	100%{
		top: 30%;
		opacity: 1;
	}
}
@keyframes dropdownfadein {
	0%{
		top: 29%;
		opacity: 0;
	}
	
	100%{
		top: 30%;
		opacity: 1;
	}
}


@-webkit-keyframes fadein{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}
@-moz-keyframes fadein{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}
@-o-keyframes fadein{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}
@-ms-keyframes fadein{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}
@keyframes fadein{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}
